<div class="card">
    <div class="card-body">
        <h1>Tu pago ha sido Exitoso, puedes descargar el programa haciendo click en el boton inferior</h1>
        <a href="/mi_program.exe" download="" class="btn btn-dark">
        Descargar
        </a>
    </div>
</div>